/* Reset css */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Fonts */

/* Roboto */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Poppins */

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

/* Communs */

body {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  background-image: url("../img/livre_1.png");
  background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: "Poppins", serif;
  font-weight: 600;
}

p {
  text-align: center;
}

/* Structure */

.row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 9vh;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

header {
  background-color: rgb(96, 130, 189);
  width: 100%;
  height: 5rem;
}

/* Logo */

.header-logo {
  height: 3.7rem;
}

/* Nav */

.header-nav-list {
  padding: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header-nav {
  flex-grow: 1;
  margin-left: 8rem;
}

.header-nav-item {
  flex-grow: 1;
}

.header-nav-link {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  margin: 1rem;
  padding: 0rem 0rem 0.5rem 0rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

/* CSS Page d'accueil */

.main-introduction {
  background-color: rgba(96, 130, 189, 0.836);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.introduction {
  color: white;
  padding: 2rem 1rem;
}

.icon-bibliotheque {
  width: 20%;
  margin: 0;
  margin-bottom: -12em;
}



/* CSS de la page ajout */
.ajout-form {
  background-color: #f4f4f9;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.1);
}
.ajout-form h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #4a4a4a;
  text-align: center;
  margin: 0 0 20px 0;
}
.ajout-form label {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
  display: block;
}
.ajout-form input,
.ajout-form select,
.ajout-form button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ajout-form button {
  background-color: rgb(96, 130, 189);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.4s ease;
}
.ajout-form button:hover {
  background-color: #445d91;
}

.ajout-form button:active {
  background-color: #31436d;
}
